
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	color: #f1d4af;
	text-align: center;
	margin: 0;
}

h2, h3, h4, h5, h6 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #774F38;
	margin: 0;
  padding: 15px;
}
body {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 14px;
color: #774F38;	
border: 5px solid red;
background-color: #F1D4AF;
margin ; 20px
	
}

p {
margin-top: 1em;
	padding-left: 15px;
	padding-right: 15px;
}

#header {
	background-color: #E08E79;
	color : #f1d4af;
	padding: 10px;
	text-align: center;
	height: 45px;
	border: 5px solid blue;
}

#footer {
	background-color: #6a988a;
	color : #f1d4af;
	padding: 10px;
	text-align: center;
	height: 45px;
	 border: 5px solid blue;
}

#container {
    max-width: 600px;
    background-color: #ECE5CE;
    margin: 0 auto;
    padding: 10px;
	 border: 5px solid green;
}

ul a {
	text-decoration: none;
}
#menu ul {
	list-style-type: none;
	float: left;
	width: 200px;
}

#content {
	float: right;
	width: 720px;
	 border: 5px solid yellow;
}
a {
    color: #E08E79;
}
a:hover {
    color: #C5E0DC;
}

ol, ul {
	margin: 0 10px 0 30px;
    border: 5px solid blue;
}

#header, #footer {
	height: 100px;
	clear: both;
}
