
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	color: #f1d4af;
	text-align: center;
}


h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #774F38;
}
body {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 14px;
color: #774F38;
	
}

body {
    background-color: #F1D4AF;
	margin ; 20px
}
/*f1d4af*/
#header {
	background-color: #E08E79;
	color : #f1d4af;
	padding: 10px;
	text-align: center;
	height: 45px;
}

#footer {
	background-color: #6a988a;
	color : #f1d4af;
	padding: 10px;
	text-align: center;
	height: 45px;
}

#container {
    max-width: 600px;
    background-color: #ECE5CE;
    margin: 0 auto;
    padding: 10px;
}

ul a {
	text-decoration: none;
}
#menu ul {
	list-style-type: none;
}
a {
    color: #E08E79;
}
a:hover {
    color: #C5E0DC;
}

