h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	color: #f1d4af;
}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #EF8354;
}

body {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 14px;
color: #774F38;	
background-color: #ece5ce;
font: 0.9em/1.5em Verdana, sans-serif;
}

#header {
	background-color: #DF3B57;
	padding: 10px	
	}

#container {
	padding: 20px;
	width:900px%;		
}

#menu {
    float: left;
    width: 200px;
    margin-left: 10px;
    background-color: #48A47F
    padding: 10px 1em 10px 1em;
   
}


#menu ul {
	list-style-type: horizontal;
}
a {
    color: #EE4B6A;
}
a:hover {
    color: #DF3B57;	
}

#content {
    border: 0px
    border color: #0F7173

}
#footer {
	background-color: #0F7173;
	color : #f1d4af;
	text-align: center;
	padding: 10px
		margin: 20px
}

ul a {
	text-decoration: none;
}


