h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 36px;
	color: #f1d4af;

}

h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #0F7173;
}

body {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 14px;
color: #774F38;	
background-color: #ece5ce;
}

#header {
	background-color: #DF3B57;
	padding: 10px	
	}

#container {
	padding: 20px;
	width: 900px;		
}

#menu ul {
	list-style-type: horizontal;
}

a {
    color: #EE4B6A;
}
a:hover {
    color: #DF3B57;	
}

#content {
    border: 10px
	    border color: #0F7173

}
#footer {
	background-color: #0F7173;
	color : #f1d4af;
	text-align: center;
	padding: 10px
}

ul a {
	text-decoration: none;
}


