
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	color: #555;
}
body {
font-family: Tahoma, Verdana, Segoe, sans-serif;
font-size: 14px;
}

body {
    background-color: #774F38;
}

#header {
	background-color: #E08E79;
}

#footer {
	background-color: #C5E0DC;
}

#container {
	width: 960px;
	margin: 10px auto;
    background-color: #ECE5CE;
}
ul a {
	text-decoration: none;
}
#menu ul {
	list-style-type: none;
}
a {
    color: #E08E79;
}
a:hover {
    color: #C5E0DC;
}


