body {
    background-color: #EFDCCD;
}

header {
	background-color: #F53243;
}


footer {
	background-color: #000000;
}

container {
	width: 960px;
	margin: 0 auto;
    background-color: #F53243;
}

